{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block title %}{{ page.title }}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet"
        href="{% static 'home/css/content.css' %}">
{% endblock extra_css %}
{% block content %}
  <article class="content-detail">
    <header class="content-detail__hero">
      {% if page.image %}
        {% image page.image fill-1500x760 as detail_image %}
        <img class="content-detail__hero-image"
             src="{{ detail_image.url }}"
             width="{{ detail_image.width }}"
             height="{{ detail_image.height }}"
             alt="">
      {% endif %}
      <div class="container content-detail__hero-inner">
        <div class="content-detail__hero-content">
          <h1 class="heading heading--h1">{{ page.headline|default:page.title }}</h1>
          {% if page.intro %}<p class="content-detail__intro text text--md">{{ page.intro }}</p>{% endif %}
        </div>
      </div>
    </header>

    {% if page.content %}
      <div class="container content-detail__content">
        {% for block in page.content %}
          <section class="content-detail__block content-detail__block--{{ block.block_type }}">
            {% include "components/streamfield_block.html" with block=block text_class="list-content" cards_class="content-detail__cards" card_class="content-detail__card" item_text_class="text text--md" %}
          </section>
        {% endfor %}
      </div>
    {% endif %}
  </article>
{% endblock %}
