### Python ###
# Байт-код
__pycache__/
*.py[cod]
*$py.class

db.sqlite3

# Базы данных
*.sqlite3
*.db

# Django
*.log
local_settings.py

# Логи и кэши
*.log
*.cache
*.pot
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VirtualEnv
venv/
.env/
.venv/
ENV/
env/

# Дистрибуция и установка
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Тесты и покрытие
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
test-results/
unit.xml

# IDE и редакторы
.vscode/
.idea/
.gigaide
*.swp
*.swo
*~
.DS_Store
*.sublime-workspace
*.sublime-project
TyuiuAIChatBotAPI.iml

# Jupyter
.ipynb_checkpoints/
*.ipynb
notebooks

# Операционные системы
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Безопасность
secrets.env
*.secret
.env.local
.env.
.env

documents
documents_library
knowledge_base
.docker
DIORag.iml


.tmp
### Python ###
# Байт-код
__pycache__/
*.py[cod]
*$py.class

# Логи и кэши
*.log
*.cache
*.pot
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VirtualEnv
venv/
.env/
.venv/
ENV/
env/

# Дистрибуция и установка
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Тесты и покрытие
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
test-results/
unit.xml

# IDE и редакторы
.vscode/
.idea/
.gigaide
*.swp
*.swo
*~
.DS_Store
*.sublime-workspace
*.sublime-project
TyuiuAIChatBotAPI.iml

# Jupyter
.ipynb_checkpoints/
*.ipynb
notebooks

# Операционные системы
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Безопасность
secrets.env
*.secret
.env.local
.env.
.env

documents
documents_library
knowledge_base
scripts
.docker
DIORag.iml
assets
dio_website_cms/db.sqlite3
# Python bytecode — обязательно!
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Другие кэши Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.dmypy.json

# Environment files
.env
.env.*
!.env.example

# Production environment
.env.prod
.env.production
.env.local

# Secrets
secrets.json
config.json
dio_website_cms/static/
d