{% load wagtailcore_tags wagtailimages_tags %}
<section class="page-content__block">
  <div class="about-section__header">
    {% if block.value.title %}<h2 class="heading heading--h2">{{ block.value.title }}</h2>{% endif %}
    {% if block.value.intro %}
      <div class="about-section__intro text text--md">{{ block.value.intro|richtext }}</div>
    {% endif %}
  </div>
  <ul class="about-certs" role="list">
    {% for certificate in block.value.items %}
      <li class="about-cert-card">
        {% if certificate.title %}
          <h3 class="about-cert-card__title text text--md">{{ certificate.title }}</h3>
        {% endif %}
        {% image certificate.image max-900x520 as certificate_image %}
        {% if certificate.file %}
          <a class="about-cert-card__media"
             href="{{ certificate.file.url }}"
             target="_blank"
             rel="noopener">
        {% else %}
          <div class="about-cert-card__media">
        {% endif %}
          <img class="about-cert-card__image"
               src="{{ certificate_image.url }}"
               width="{{ certificate_image.width }}"
               height="{{ certificate_image.height }}"
               alt="{{ certificate.title }}">
        {% if certificate.file %}</a>{% else %}</div>{% endif %}
        {% if certificate.description %}
          <p class="about-cert-card__description text text--sm">{{ certificate.description }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
