{% load wagtailcore_tags wagtailimages_tags %}
<section class="page-content__block">
  <div class="about-section__header">
    <h2 class="heading heading--h2">{{ block.value.title }}</h2>
    {% if block.value.intro %}
      <div class="about-section__intro text text--md">{{ block.value.intro|richtext }}</div>
    {% endif %}
  </div>
  <ul class="about-work-grid" role="list">
    {% for card in block.value.cards %}
      {% if card.image %}
        {% image card.image fill-900x760 as card_image %}
      {% endif %}
      <li class="about-work-card"
          {% if card.image %}style="background-image: url('{{ card_image.url }}')"{% endif %}>
        <div class="about-work-card__body">
          <h3 class="heading heading--h3">{{ card.title }}</h3>
          <div class="about-work-card__text text text--md">{{ card.text|richtext }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
