{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        {{ page.seo_title|default:page.title|default:"DIO Website" }}
      {% endblock title %}
    </title>
    {% if page.search_description %}<meta name="description" content="{{ page.search_description }}">{% endif %}
    <link rel="stylesheet" href="{% static 'css/light-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% include "base/header.html" %}
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    {% include "base/contact.html" %}
    {% include "base/footer.html" %}
    <script src="{% static 'js/base/header.js' %}" defer></script>
    <script src="{% static 'js/base/contact.js' %}" defer></script>
  </body>
</html>
