{% load wagtailcore_tags wagtailimages_tags %}
{% for block in blocks %}
  <section class="global-presence-section">
    <div class="container">
      <header class="page-header">
        <h2 class="global-presence-section__title heading heading--h2">{{ block.value.title }}</h2>
        {% if block.value.description %}<div class="text text--xl">{{ block.value.description }}</div>{% endif %}
      </header>
      <div class="catalog-card__content">
        {% if block.value.content %}
          <div class="list-content catalog-card__details">{{ block.value.content|richtext }}</div>
        {% endif %}
        {% if block.value.image %}
          <div class="global-presence-section__image">
            {% image block.value.image max-1100x760 as global_image %}
            <img src="{{ global_image.url }}"
                 width="{{ global_image.width }}"
                 height="{{ global_image.height }}"
                 alt="{{ block.value.title }}">
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endfor %}
